<!doctype html>
<html data-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/pico/css/pico.css}">
    <title>Hello, world!</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<article>

<main class="container">
        <hgroup>
            <h1>[[${auction.name}]]</h1>
            <h2>[[${auction.quantity}]]</h2>
            <h3>[[${auction.current_bid_price}]]</h3>
            <h4>[[${auction.buy_now_price}]]</h4>
            <h5>[[${auction.end_date}]]</h5>
        </hgroup>

    <form>

        <!-- Grid -->
        <div class="grid">

            <!-- Markup example 1: input is inside label -->
            <input type="text" id="bidAmount" name="bidAmount" placeholder="Wysokość podbicia" required>


            <!-- Button -->
            <button type="submit">Podbij</button>

        </div>
    </form>

        <div th:if="${auction.getBidList().size() > 0}">
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Wysokość podbicia</th>
                    <th scope="col">Kto podbił</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bid : ${auction.getBidList()}">
                    <td>[[${bid.id}]]</td>
                    <td>[[${bid.bid_amount}]]</td>
                    <td>[[${bid.user.username}]]</td>
                </tr>
                </tbody>
            </table>
        </div>

</main>
</article>

</body>
</html>