<!doctype html>
<html data-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/pico/css/pico.css}">
    <title>nowa aukcja</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<article>

<main class="container">
    <h2>Nowa aukcja</h2>
    <form th:action="@{/auctionController/newAuction}" th:object="${auction}" method="post">

        <label>Nazwa aukcji:</label>
        <input type="text" th:field="*{name}" required><br><br>

        <label >Ilość:</label>
        <input type="text" th:field="*{quantity}" required><br><br>

        <label >Cena poczatkowa:</label>
        <input type="text" th:field="*{start_price}" required><br><br>

        <label >Cena kup teraz:</label>
        <input type="text" th:field="*{buy_now_price}" required><br><br>

        <label >Minimalne podbicie:</label>
        <input type="text" th:field="*{min_bid}" required><br><br>

        <label >Nazwa przedmiotu:</label>
        <input type="text" th:field="*{item.name}" required><br><br>

        <label >stan:</label>
        <input type="text" th:field="*{item.condition}" required><br><br>

        <label >waga:</label>
        <input type="text" th:field="*{item.weight}" required><br><br>

        <label >nazwa marki:</label>
        <input type="text" th:field="*{item.brand_name}" required><br><br>

        <label >data zakonczenia aukcji</label>
        <input type="date" th:field="*{end_date}" required><br><br>

        <input type="submit" value="Dodaj aukcje">
    </form>
</main>
</article>

</body>
</html>